/**
 * #.# Header section
 *
 * Styles in the header section of the settings panel
 */
#tawk-header {
	background-color: #fff;
	overflow: hidden;
	width: 95%;
	margin-top: 20px;
	padding: 6px 12px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 1px 0 1px;
	font-size: 2em;
}

div.tawk-mel {
	float: left;
	min-width: 75px;
	min-height: 80px;
	width: 10%;
	text-align: center;
}

div.tawk-header-text {
	float: left;
	line-height: 86px;
}

/**
 * #.# Form Action
 *
 * Styles for the form action button
 */
.tawk-action {
	background-color: #fff;
	overflow: hidden;
	width: 95%;
	padding: 6px 12px;
	border: 1px solid #ccc;
}

.tawk-action p {
	margin: 0;
	padding: 0;
}

div.tawk-footer-action {
	width: 10%;
	min-width: 75px;
	float: left;
}

div.tawk-footer-text {
	float: right;
	text-align: right;
}

/**
 * #.# Settings Body
 *
 * Styles for the settings panel body container
 */
#tawk-settings-body {
	background-color: #fff;
	overflow: hidden;
	width: 95%;
	padding: 0 24px 0 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0 1px 0 1px;
}

/**
 * #.# Tabs
 *
 * Styles for the tabs section in the settings panel
 */
#tawk-tabs {
	background-color: #fff;
	overflow: hidden;
	float: left;
	min-width: 75px;
	width: 10%;
}

#tawk-tabs button {
	background-color: inherit;
	float: left;
	width: 100%;
	border: none;
	padding: 14px 0;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

#tawk-tabs button:hover {
	background-color: #ddd;
	color: #0085ba;
}

#tawk-tabs button.active {
	background-color: #f1f1f1;
}

/**
 * #.# Tab Content
 *
 * Styles for the tab content of the settings panel
 */
.tawk-tab-content {
	background-color: #fff;
	display: none;
	float: left;
	min-width: 240px;
	width: 85%;
	padding: 6px 12px;
	border-style: solid;
	border-color: #ccc;
	border-width: 0 0 0 1px;
	border-top: none;
}

#tawk-iframe {
	min-height: 295px;
	width: 100%;
	margin-top: 20px;
	border: none;
}

.tawk-notice {
	font-size: 14px;
	max-width: 578px;
}

.form-table th.tawk-setting {
	width: 350px;
}

#exlucded-urls-container,
#included-urls-container {
	padding: 15px;
}

#visibility-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#visibility-content #visibility-info {
	max-width: 250px;
}

.list-type-bullet {
	list-style: circle;
	padding: 0 20px;
}

/**
 * #.# Switch and Slider
 *
 * Styles for the switch/toggle/slider in the settings panel
 */
.switch {
	display: inline-block;
	height: 34px;
	width: 60px;
	position: relative;
}

.switch input {
	display: none;
}

.slider {
	background-color: #ccc;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	cursor: pointer;
}

.slider::before {
	background-color: #fff;
	height: 26px;
	width: 26px;
	position: absolute;
	left: 4px;
	bottom: 4px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	content: "";
}

.slider.round {
	border-radius: 34px;
}

.slider.round::before {
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/**
 * #.# Links
 *
 * Styles for links
 */
a.tawk-link {
	color: #7fb06f;
	text-decoration: none;
}

a.tawk-link:hover {
	text-decoration: underline;
}

/**
 * #.# Tooltip
 *
 * Styles for tooltip
 */
.tooltip {
	position: relative;
	display: inline;
	color: #03a84e;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #545454;
	color: #fff;
	text-align: center;
	padding: 0.5rem;
	max-width: 300px;
	border-radius: 0.5rem;
	font-size: 0.7rem;
	font-weight: 600;
	line-height: 0.8;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1000;
	top: 5px;
}

.tooltip.reverse .tooltiptext {
	top: unset;
	bottom: 5px;
}

.tooltip .tooltiptext::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #545454;
	top: -5px;
	left: 5px;
}

.tooltip.reverse .tooltiptext::before {
	top: unset;
	border-bottom: unset;
	bottom: -5px;
	border-top: 5px solid #545454;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/**
 * #.# Media Queries
 *
 * Mobile view
 */

@media only screen and (max-width: 712px) {

	/**
	 * #.# Settings Body
	 *
	 * Styles for the settings panel body container
	 */
	#tawk-settings-body {
		max-width: 712px;
		width: 100%;
		padding: 0 0 0 0;
	}

	/**
	 * #.# Tabs
	 *
	 * Styles for the tabs section in the settings panel
	 */
	#tawk-tabs {
		background-color: #fff;
		min-width: 75px;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
}
